.site-performance-wrapper {
  padding: 24px 30px 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgb(185 200 212 / 50%);
  border-radius: 3px;
  margin: 0 20px 40px;

  .heading-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 12px;
    color: #344154;
    margin-bottom: 15px;
  }
}